<h1>Itineraries</h1>
<table>
  <tr>
    <th><%= sortable 'location' %></th>
    <th><%= sortable 'travel_on', 'Travel Date' %></th>
    <th><%= sortable 'estimated_cost' %></th>
    <th><%= sortable 'trip_id' %></th>
    <th></th>
  </tr>
<% @itineraries.each do |itinerary| %>
  <tr class="<%= itinerary_row_class(itinerary) %>">
    <td><%= itinerary.location %></td>
    <td><%= itinerary.travel_on %></td>
    <td><%= number_to_currency(itinerary.estimated_cost, unit: "PHP") %></td>
    <td><%= itinerary.trip %></td>
    <td>
    	<%= link_to 'Show', trip_itinerary_path(itinerary.trip, itinerary.id), class: 'btn btn-default' %>
  		<%= link_to 'Edit', edit_trip_itinerary_path(@trip.id, itinerary.id), class: 'btn btn-default' %>
      <%= link_to 'Delete', trip_itinerary_path(@trip.id, itinerary.id), method: :delete, class: 'btn btn-default' %>
  	</td>	
  <tr>
<% end %>

</table>

<%= link_to "New", { action: 'new' } , class: 'btn btn-default' %>

<%= show_remaining_budget %>