<h1>Itinerary <%= @itinerary.id %></h1>
<%= link_to 'Back', action: 'index' %>
<ul class="list-unstyled">
  <li>Location: <%= @itinerary.location %></li>
  <li>Travel Date: <%= @itinerary.travel_on %></li>
  <li>Estimated Cost: <%= number_to_currency(@itinerary.estimated_cost, unit: "PHP") %></li>
</ul>